/**
 * Clue Component
 */

.clue {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 50px 15px 15px 15px;
}


/**
 * Word Box Component
 */

.wb {
    margin: 5px auto 0 auto;
    padding: 2%;
}

.wb:after {
    clear: both;
    content: "";
    display: table;
}

.wb__letter {
    background: #ddf3fe;
    color: #000;
    display: inline-block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin: 0 3px 0 0;
    width: 40px;
}


/**
 * Keyboard Component
 */

.keyboard {
    color: #000;
    margin: 0 auto 0 auto;
    padding: 2% 4% 4% 4%;
}

.keyboard:after {
    clear: both;
    content: "";
    display: table;
}

.keyboard__key {
    cursor: pointer;
    display: inline-block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 22px;
    padding: 0 9px;
    position: relative;
    z-index: 30;
}

.keyboard__key--used {
    cursor: initial;
    opacity: 0.2;
}
