/**
 * Clue Component
 */


/* Clue block */

.clue {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 50px 15px 15px 15px;
}


/**
 * Word Box Component
 */


/* Word block */

.wb {
    margin: 5px auto 0 auto;
    padding: 2%;
}


/* Word block pseudo-element */

.wb:after {
    clear: both;
    content: "";
    display: table;
}


/* Word block element */

.wb__letter {
    background: #ddf3fe;
    color: #000;
    display: inline-block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin: 0 3px 0 0;
    width: 40px;
}


/**
 * Keyboard Component
 */


/* Keyboard block */

.keyboard {
    color: #000;
    margin: 0 auto 0 auto;
    padding: 2% 4% 4% 4%;
}


/* Keyboard block pseudo-element */

.keyboard:after {
    clear: both;
    content: "";
    display: table;
}


/* Keyboard block element */

.keyboard__key {
    cursor: pointer;
    display: inline-block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 22px;
    padding: 0 9px;
    position: relative;
    z-index: 30;
}


/* Keyboard element modifier */

.keyboard__key--used {
    cursor: initial;
    opacity: 0.2;
}

@media (min-width: 768px) {
    .clue {
        font-family: 'Gloria Hallelujah', cursive;
        margin: 190px 15px 15px 15px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .clue {
        font-family: 'Gloria Hallelujah', cursive;
        margin: 190px 15px 15px 15px;
    }
    /* Keyboard block */
    .keyboard {
        color: #000;
        margin: 0 auto 0 auto;
        padding: 0% 4% 4% 4%;
    }    
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .clue {
        font-family: 'Gloria Hallelujah', cursive;
        margin: 190px 15px 15px 15px;
    }
    /* Keyboard block */
    .keyboard {
        color: #000;
        margin: 0 auto 0 auto;
        padding: 0% 4% 4% 4%;
    }
}
