/**
 * Yeti Component
 */


/* Yeti block */

.yeti {
    bottom: 2%;
    position: fixed;
    right: 2%;
    z-index: 2;
}


/* Yeti block modifier */

.yeti--xs {
    width: 35%;
}


/**
 * Trees Component
 */


/* Trees block */

.forest {
    bottom: 0;
    height: 110px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}


/* Trees block element */

.forest__tree {
    background: url('../images/tree.png') no-repeat;
    background-size: 30px;
    float: left;
    height: 50px;
    width: 30px;
}


/* Trees block element modifier */

.forest__tree--1 {
    margin: 0 0 0 6%;
}


/* Trees block element modifier */

.forest__tree--2 {
    margin: 2% 0 0 4%;
}
