/**
 * Logo Component
 */

.logo {
    margin: 20px 0 0 0;
}

.logo--xs {
    width: 280px;
}


/**
 * Score Component
 */

.score {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}

.score--right {
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 1%;
    width: 200px;
}


/**
 * Lives Component
 */

.lives {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    left: 15px;
    margin: 0;
    position: absolute;
    top: 1%;
}

.lives--left {
    text-align: left;
}
