 /**
 * Modal Component
 */
 /* Modal block  */
 
 .modal {
     background: #fff;
     border-radius: 6px;
     left: 5%;
     margin: 10px 0 0 0;
     padding: 4%;
     position: absolute;
     width: 82%;
     z-index: 2;
     border: solid 1px #eee;
 }
 /* Modal block element */
 
 .modal__title {
     color: #000;
     font-family: 'Gloria Hallelujah', cursive;
     font-size: 1.6em;
     margin: 0 0 8px 0;
     padding: 0;
 }
 /* Modal block element */
 
 .modal__body {
     color: #000;
     font-family: 'Gloria Hallelujah', cursive;
     font-size: 1.4em;
     margin: 0 0 8px 0;
     padding: 0;
 } 

 /**
  * Scores
  */

 /* Scores block */
 
 .scores {
     -webkit-padding-start: 20px;
     font-family: sans-serif;
     line-height: 1.5;
     font-size: 1.4em;
 }
 /* Scores block element */
 
 .scores__player {
     text-align: left;
     padding: 0 0 0 5px;
 }
 /* Scores block element */
 
 .scores__score {
     float: right;
     padding: 0 0 0 5px;
 }
 
 @media (min-width: 768px) {
     .modal {
         background: #fff;
         border-radius: 6px;
         left: 15%;
         margin: 75px 0 0 0;
         padding: 4%;
         position: absolute;
         width: 62%;
         z-index: 2;
     }
 }
 /* Medium devices (desktops, 992px and up) */
 
 @media (min-width: 992px) {
     /* Modal block  */
     .modal {
         background: #fff;
         border-radius: 6px;
         left: 35%;
         margin: 75px 0 0 0;
         padding: 2%;
         position: absolute;
         width: 26%;
         z-index: 2;
     }
 }
 /* Large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) {
     /* Modal block  */
     .modal {
         background: #fff;
         border-radius: 6px;
         left: 35%;
         margin: 75px 0 0 0;
         padding: 2%;
         position: absolute;
         width: 26%;
         z-index: 2;
     }
     /* Modal block element */
     .modal__title {
         color: #000;
         font-family: 'Gloria Hallelujah', cursive;
         font-size: 2em;
         margin: 0 0 10px 0;
         padding: 0;
     }
     /* Modal block element */
     .modal__body {
         color: #000;
         font-family: 'Gloria Hallelujah', cursive;
         font-size: 1.8em;
         margin: 0 0 10px 0;
         padding: 0;
     }
 }
