/* todo: clean all of this up */

.word {
    margin: 5px auto 0 auto;
    padding: 2%;
}

.word:after {
    content: "";
    display: table;
    clear: both;
}

.letter {
    display: inline-block;
    margin: 0 3px 0 0;
    color: #000;
    background: #DDF3FE;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    width: 40px;
}

.alphabet {
    margin: 0 auto 0 auto;
    padding: 2% 4% 4% 4%;
    color: #000;
}

.alphabet:after {
    content: "";
    display: table;
    clear: both;
}

.char {
    font-size: 22px;
    padding: 0 9px;
    cursor: pointer;
    font-family: 'Gloria Hallelujah', cursive;
    display: inline-block;
    position: relative;
    z-index: 30;    
}

.char.used {
    opacity: 0.2;
    cursor: initial;
}

.clue {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 50px 15px 15px 15px;
}