/**
 * Global Styles
 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #7DD7FD;
}


/**
 * Snow Animations
 * todo: download images and switch to relative paths
 */

#snow {
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}


/**
 * Wave
 */

#wave {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}